<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627690952960-403djgnca4q94lledpt9v85jv6ploj6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627690952960-403djgnca4q94lledpt9v85jv6ploj6f</string>
	<key>API_KEY</key>
	<string>AIzaSyBqRhhV5Iq3UcloRw0iLa3nWAOiRiQYGjo</string>
	<key>GCM_SENDER_ID</key>
	<string>627690952960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stelian.MarkMe</string>
	<key>PROJECT_ID</key>
	<string>gis-firebase-dcdeb</string>
	<key>STORAGE_BUCKET</key>
	<string>gis-firebase-dcdeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627690952960:ios:5ddb25e7a6d7de6b323be5</string>
</dict>
</plist>